{% extends  "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %}  
&nbsp;
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Compras</h5>
          <p class="card-text">///////////////</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-outline-rojo">Rojo</button>
          <small class="text-body-secondary"></small>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ventas</h5>
          <p class="card-text">///////////////</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-outline-celeste">Celeste</button>
          <small class="text-body-secondary"></small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Diario</h5>
          <p class="card-text">///////////////</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-outline-purple">Morado</button>
          <small class="text-body-secondary"></small>
        </div>
      </div>
    </div>
  </div>

{% endblock %}