{% extends "base.html" %}

{% block titulo%} Compras {% endblock %}

{% block contenido %} 
&nbsp;
<figure class="text-center">
    <blockquote class="blockquote">
        <p class="h3">Tabla Compras</p>
    </blockquote>
  </figure>

<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs justify-content-end"> <!-- Aquí se agrega la clase justify-content-end para alinear los elementos a la derecha -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" href="compras">Compras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link action" href="ventas">Ventas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link action" href="diario">Diario</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">En construcción...</h5>
      <p class="card-text">Estamos trabajando para facilitar su vida</p>
      <a href="#" class="btn btn-primary">Programadores asociados S.A.</a>
    </div>
  </div>  

{% endblock %}